[submodule "libultraship"]
	path = libultraship
	url = https://github.com/retroditherinf/libultraship.git
	branch = mm
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/retroditherinf/OTRExporter.git
	branch = android_main
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/retroditherinf/ZAPDTR.git
	branch = mm
